/* Required for full background image */

html,
body,
header,
.jarallax {
  height: 100%;
  width: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

.mask{
  width: 100%;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background:darkgreen !important;
  }
}

h5 {
  letter-spacing: 3px;
}

.btncolor{
  background-color:darkgreen;
  color: white;
  
}


.modal{
  overflow-y: auto;
}

.sidebar-fixed {
   
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0; }
  .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem; }
    .sidebar-fixed .logo-wrapper img {
      max-height: 50px; }


@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; } }

    .form-elegant .font-small {
      font-size: 0.8rem; }
      
      .form-elegant .z-depth-1a {
      -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
      box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
      
      .form-elegant .z-depth-1-half,
      .form-elegant .btn:hover {
      -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
      box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

      .input-group.md-form.form-sm.form-1 input{
        border: 1px solid #bdbdbd;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        background-color: white;
    }


    .active-white-3 input[type=text] {
      border: 1px solid white;
      box-shadow: 0 0 0 1px white;
  }

  .row{
    width: 100%;
  }

  .intro{
    background-attachment: fixed;
    
  }